
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,600,700,800'); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

/* CSS debug mode */
/* * {background-color:rgba(255,0,128,0.05);}   */


body { overflow:auto !important;padding-right:0 !important; font-family:"Roboto", "Helvetica", "Arial", sans-serif; }

#data-checkbox { display:flex;justify-content: flex-start;padding-left:90px; }
.data-checkbox{ margin-left:4px !important; }
.data-checkbox span svg { font-size:16px !important; }
.data-checkbox > span:last-child { font-size:13px !important; }
.data-checkbox > span:first-child { width:24px; color:rgba(0,0,0,0.7) !important;}
.data-checkbox > span > span { width:24px;height:24px;}
.data-checkbox > span > span:last-child { margin-top:12px; }

#login { position:absolute; top:0;right:0;z-index:1; }
#login button {color:rgba(0,0,0,0.54); }

#top-left { position:absolute; top:0;left:0; }
#top-left button {color:rgba(0,0,0,0.54); }

#pagine { width:100%;display:flex;padding:20px;justify-content: space-between; box-sizing:border-box}
#pagine svg {height:36px;width:36px; cursor:pointer;}

#pagine div { line-height:36px; text-align:center;}
#pagine div a { cursor:pointer; display:inline-block;margin-left:5px;margin-right:5px;}
#pagine div a:hover { text-decoration:underline; }

#results > li > h4 + svg { margin-top:10px; }

.result-content > hr { margin:0;height:0;padding:0;opacity:0;border:0; }

li + a.result { margin-top:-5px; }

a.result { padding:0;margin-bottom:10px;width:auto;display: inline-block;margin-top:3px;}
a.result button { text-transform:none; padding-bottom:0;}
/* a.result button::before { content:'Abstract Works';display:block;height:50px;position:absolute;left:0; }  */
.result-box ~ #matches, a.result ~ #matches { margin-top:-15px!important;padding:2px 0 0px 35px ; margin-left:41px; font-size:0.8rem; margin-bottom:5px; border-left: 1px solid rgba(0,0,0,0.25) ; }
.result-box ~ #matches:empty, a.result ~ #matches:empty { margin-bottom:8px; margin-top:-20px !important;padding-top:0 !important;}


/* box-shadow:-5px 0 5px -4px rgba(0,0,0,0.2);  } */
#matches {  }
#matches span { display:inline ; line-height:1.2rem; }
#matches span.label { text-transform:capitalize; font-weight:700; float:left;clear:both; flex-shrink:0; }
/* #matches span:not(.label) {  } */
.match { display:flex; margin-bottom:0px }
.match a { /*word-break:  break-word;*/ overflow-wrap: break-word; }



.result-content { position:relative; } 

.result-box { display:flex; }

.source { /*position:absolute;*/ top:0; margin-top:8px; margin-left:0px; display:inline-block; flex-shrink:0;}

.sameAsLogo,
.source a img { height:18px; margin:0 5px; padding-top:2px; display:inline-block;}
/* .source a:last-child img { height:35px; vertical-align:top;  } */

.sameAsLogo { color:black; font-weight:bold; background-color:#eee;border:1px solid #aaa;font-size:10px;align-items: center; padding-top:0px;padding:0px 2px;  line-height:20px; }

.source-data { vertical-align:middle; }

.source-data,
.source-data a { display:inline-block; position:relative; }
.source-data span { width:0;height:0;display:inline-block;position:absolute;background:transparent;
   border:6px solid transparent;border-left-color:rgba(229, 74, 53,1);transform:rotate(-45deg);
   top:-8px;right:-4px; opacity:0;transition:all 100ms ease-in-out;  pointer-events: none;
}
.source-data:hover span { opacity:1; pointer-events: auto; cursor:pointer;}
a.menu-item-source {
   position: absolute;
   padding-left: 16px;
   left: 0;
   top: 0;
   width: 100%;
   display: flex;
   height: 100%;
   align-items: center;
   color:rgba(0,0,0,0.87);
   text-decoration: none;
}
span.void { opacity:0; pointer-events: none; }

a.result .lang, .match .lang,.data .lang,h2 .lang, .imageVolumePopup .lang
{ font-size: 9px;display:inline-block;margin-left:2px;/*margin-top:7px; position:absolute; */ color:rgba(0,0,0,0.5); display:inline; white-space: nowrap; 
   /*vertical-align: -4px; margin-bottom:-4px;*/ 

   vertical-align: baseline;
   position: relative;
   top: 0.5em;
}
h2 .lang,.data .lang { position:relative;margin:0;vertical-align:-2px;padding:5px;line-height:0;z-index:1;}
h2 .lang { margin-top:22px;font-weight:normal; }
.imageVolumePopup .lang { position:relative;padding:0px;margin-top:12px; }
/* a.result .lang, .match .lang { min-width:50px;} */
a.result .contenu ul { padding:6px 0px 6px 0px !important;}
a.result .contenu ul > div:last-child {
   padding:0 16px !important;
   height: auto;
   flex-grow: 10;
   flex-shrink: 10;
   flex: 1 1 auto;
   min-width: 0;
}

.resource h3.withdrawn { font-style:italic; opacity:1; margin-top:15px; display:block;}

h3.withdrawn svg { vertical-align:text-bottom; margin:0px 10px; opacity:0.55; font-size:16px;} /*color:rgba(229, 74, 53,1)}*/
h3.withdrawn svg:first-child { margin-left:0; }

h3.withdrawn ~ * { opacity:0.45;}


a.result .contenu ul > div:last-child h3 > span:first-child { /*word-break: break-all;*/ overflow-wrap: break-word; }

a.result .contenu ul > div:last-child h3 {
   color: rgba(0, 0, 0, 0.87); font-size: 0.875rem; font-weight: 400; 
   line-height: 1.35em; display:block; margin:0;
}

a.result .contenu ul > div:last-child p {
   color: rgba(0, 0, 0, 0.54);   font-size: 0.85rem;   font-weight: 400; 
   line-height: 1.46429em; margin: 0;  display: block;
}

.result-content.StatusEditing,.result-content.StatusWithdrawn,.result-content.StatusProvisional { opacity:0.45;} 
a.result .contenu ul > div:first-child { position:relative;}
a.result .contenu ul > div:first-child > svg { position:absolute; top:-16px; right:16px;font-size:14px; }

iframe.ontoSearch { width:calc(100% - 10px); border:none; margin-left:10px; height:500px;
   box-shadow:0 0 5px rgba(0,0,0,0.5); background-color:rgba(0,0,0,0.015);}

.data .anno,svg.annoticon { vertical-align: -9px;margin-left:5px; color:rgba(0,0,0,0.0); display:none;}
h2:hover svg.annoticon,h4:hover svg.annoticon {  color:rgba(0,0,0,0.5); cursor:pointer;}
h2:hover svg.annoticon:hover,h4:hover svg.annoticon:hover { color:rgba(0,0,0,0.65); }
.data .anno span:not(.lang) {/*color : rgba(229, 74, 53,1);*/ cursor:pointer; color:rgba(0,0,0,0.5);}
.data .anno span:not(.lang):hover { text-decoration:underline; color:rgba(0,0,0,0.65); }

.data .faded { display:inline-block; cursor:pointer; padding:3px; border-radius:16px;
   background-color:rgba(0, 0, 0, 0.1);
}
.data .faded.score0 { background-color:rgba(255, 205, 3, 0.4);border:1px dashed rgba(167, 134, 1, 0.4);}
.data .faded.score1 { background-color:rgba(17, 173, 17, 0.3);border:1px solid rgba(36, 106, 36, 0.4);}

h4 { margin-top:0px;margin-bottom:0px;font-size:24px; }
/* h4 + h4 { margin-top:5px;}  */

.resource > h2 {   font-family: "Noto Sans", "Roboto", "Helvetica", "Arial", sans-serif; }

.resource { width:100% ; padding:40px 100px; text-align:left; box-sizing: border-box;}
.resource .data { text-align:left }
.resource .data > div { display:flex;align-items:baseline;flex-wrap:wrap;box-sizing: border-box;width:100%;position:relative;}
.resource .data > div.parent { flex-wrap:wrap; }
.resource .data > div.parent > h3 { flex-shrink:0 }
.resource h3,.resource h4 { display:inline-block; margin-bottom:0px; font-size:14px; font-weight:normal; margin-right:5px; line-height:21px;}
.resource h3 span { /*text-decoration: underline;*/ font-weight:600;  text-transform:capitalize; }
.resource h3 { font-size:14px;margin-top:6px; }
.resource .sub { width:100%; padding-left:20px;display:flex;flex-wrap:wrap; box-sizing: border-box; position:relative;}
.resource .sub h4.first { font-size:0.85em;font-style:italic; text-transform:capitalize; flex-shrink:0; line-height:1.6em;}
 .resource .sub .sub h4.first.type,
.resource .sub h4.first.prop { font-style:normal;font-size:0.8em; line-height:20px }

.resource .subsub { width:100%; padding-left:20px; display: flex;align-items: baseline;flex-wrap:wrap;position:relative; box-sizing: border-box;}

/* .resource .subsub h4 { flex-shrink:0 ; } */
/* .resource .subsub:first-child:before, */
.resource div .sub.here:before { content:"•";position:absolute; width:10px;margin-left:-10px;top:11px; }
.resource .subsub:first-child { margin-top:10px; }
.resource .subsubsub.full,
.resource .subsub.full { flex-wrap:wrap; }
.resource .subsubsub.full > h4.first,
.resource .subsub.full > h4.first { width:100%; }
.resource h3 + .sub .subsub:first-child { margin-top:0px; }
.resource .subsub h4:not(.first):not(:last-child):after,
.resource h4:not(:last-child):not(.first):not(.last):not(.page):after { content:" | "; pointer-events:none; padding-right:30px; }
.resource .subsubsub { width:100%; padding-left:20px; display: flex;align-items: baseline;flex-wrap:nowrap;position:relative; box-sizing: border-box;}
.resource .subsubsub .subsubsub h4.first.prop,.resource .subsub.full .subsubsub h4.first.prop,
.resource .sub .sub h4.first.type { font-style:normal; }
.resource .subsub.full .subsub h4.first.prop, .resource .subsubsub h4.first.prop, .resource  .subsub .subsubsub .subsubsub h4.first.prop,
.resource  .sub .sub .subsub h4.first.prop { font-size:0.7em;font-style:italic; }
.resource  .sub .sub .subsub h4.first.prop { font-style:normal;}
.resource .sub .sub { padding-left:60px;}
.resource .subsub.full .subsub .subsubsub h4.first.prop { font-style:normal; }

#etext-scroll > .etextPage:first-child { margin-top:20px; }

.resource .data #etext-scroll,
.resource .data .chunk, .etextPage { display:block; position: relative;}
.resource .data .chunk ~ h4, .etextPage h4.page { font-size:24px;line-height:40px; /*margin-bottom:10px;*/ display:inline; }

.etextPage { border-top:1px solid #999; padding-top:25px;  }
.etextPage h4.page { display:inline-block; padding-left:0; margin-bottom:0; font-size:calc( 30 * 100vw / 2500) ;  line-height:calc( 60 * 100vw / 2500) ; 
   white-space: nowrap;margin-right:0;
}
/* .etextPage h4.page:last-child { padding-bottom:25px; } */
.etextPage .overpage { overflow-x: auto; }
.etextPage.unformated  { padding-bottom:25px; }
.etextPage.unformated h4.page { white-space: normal;  }
.etextPage h5 { margin-top:0; color:#777; display:inline-block; }
.etextPage h4 + h5 { margin-top:15px;margin-bottom:30px;}
.etextPage img.page, .etextPage h5 a, .etextPage .small a { cursor:pointer; } 
.etextPage img.page { box-shadow:1px 1px 7px rgba(0,0,0.2); display:block; max-width:100%; margin-bottom:0px; margin-top:3px;
   margin-left: auto; margin-right: auto; max-height:80vh;}
.etextPage button { margin-left:-8px !important; }
.etextPage button img { height:28px;transform:rotate(-90deg); opacity:0.75;}
.etextPage button:hover img { opacity:1;}
.etextPage.manifest-error h5, .etextPage.manifest-error button { opacity:0.5;pointer-events:none; }
.etextPage .small { padding:0 50px; text-align:center;  margin-bottom:25px;margin-top:10px; position:relative;display:inline-block;}
.etextPage > div { position:relative; }
.etextPage > .imagePage { position:relative; text-align:center; }
.etextPage > div .lang { position:absolute;line-height:24px;  }
/* .etextPage .toggle-volume { font-size:12px; } */
/* .etextPage button.hide { position:absolute; bottom:6px;left:80px;opacity:0}  */
.etextPage .close {  margin-top:0px; left:6px;}
.etextPage > div .close svg { font-size:30px; }
.etextPage:hover > div .close,.etextPage > div .close.show { opacity:1;  }
.etextPage:not(:hover) .close:not(.show) { opacity:0; }
.etextPage button.hide { position:absolute; left:10px;top:-15px;opacity:0; }
.etextPage > .imagePage:hover button.hide { opacity:1; }
.etextPage.lang-bo h4.page { font-family:"Tibetan Machine Uni";}


@font-face {
   font-family: 'Tibetan Machine Uni';
   src: url('/Tibetan_Machine_Uni.woff2') format('woff2'),
       url('/Tibetan_Machine_Uni.woff') format('woff');
   font-weight: normal;
   font-style: normal;
 }

 
/* .imageVolumePopup .lang { display:none; } */
.imageVolumePopup a { color:rgba(229, 74, 53,1); text-decoration: none; pointer-events: none;}

.resource .data h3 a.propref,.resource .data h4 a.propref { color:black; }
.resource .data h3 a.propref:hover,.resource .data h4 a.propref:hover { border-bottom:1px solid black;}
div[role="tooltip"] { margin:30px; max-width:400px;  }
div[role="tooltip"] > div { font-weight:bold;font-size:16px; }
.commentP,.commentT {max-width:700px !important; }
.commentT { padding:10px !important;}

.person #person, .place #place { display:none;}

.match .urilink,  
.match .multi a,
.resource .data a, a.login { text-decoration: none; color:rgba(229, 74, 53,1);}
a.login { text-decoration:underline; cursor:pointer; }
.match .urilink:hover, 
.match .multi a:hover,
.resource .data a:hover { border-bottom:1px solid rgba(229, 74, 53,1); }

.urilink { position:relative; }
/*h4:not(.sameAs)*/ .urilink.hasIcon, h4.hasIcon { padding-left:0px; }
/*h4:not(.sameAs)*/ .ulink.hasIcon .before, h4.hasIcon .before, h2 .before
{ content:''; position:relative;display:inline-block;width:13px;height:13px; background-color:white;  vertical-align: -4px;padding-right:8px; padding-bottom:3px;
   background-position:right 5px center;background-size:13px auto;background-repeat:no-repeat; 
}
h2 .before { height:16px; }
.before a {font-size:0; position:absolute;width:100%;height:100%;}
.before:hover a { border:none !important; }


.ulink { position:relative; z-index:1;}
.ulink+span { z-index:0;}

.hoverlink { 
   position:absolute;display:inline-block;width:15px;height:15px; background-color:white;  vertical-align: 0px; padding:3px ; margin-top:-16px; 
   background-position:center;background-size:15px auto;background-repeat:no-repeat; 
   background-image:url("/logo.svg"); background-size:20px auto; opacity:0;pointer-events:none;
}

.hoverlink:hover { border:none !important; }
div:hover > h4:not(.multiple) > .hoverlink,
div:hover > h4:not(.multiple) > span .hoverlink,
h4:hover .hoverlink { opacity:1;pointer-events: auto;}

.hover-anchor { display:inline-block; }
.hover-anchor ~ .hover-anchor { display:none; }
:not(.lang) + .hover-anchor .hoverlink { margin-left:5px;}

h2 .bdr .before { background-image:url("/logo.svg"); background-size:17px auto; background-position:top 1px right 5px; }
h2 .bnf .before { background-image:url("/BNF.svg"); background-size:19px auto;background-position:top 4px left;}
h2 .dila .before { background-image:url("/DILA-favicon.ico"); background-position:top 1px right 5px;}
h2 .eap .before { background-image:url("/BL.gif"); background-size:auto 13px; background-position:left 4px top; }
h2 .gretil .before { background-image:url("/GRETIL.png"); background-size:auto 13px; background-position:top 1px right 6px;}
h2 .ia .before { background-image:url("/IA.png"); background-size:auto 13px;background-position:top 0px left 2px;}
h2 .mbbt .before { background-image:url("/MB-icon.jpg"); background-position:top 1px right 6px;} 
h2 .ola .before { background-image:url("/OL.png"); }
h2 .viaf .before { background-image:url("/VIAF.png"); }
h2 .eftr .before { background-image:url("/84000.svg"); background-size:16px auto; background-position:top 4px left 0px;}
h2 .rkts .before { background-image:url("/RKTS.png"); background-position:top 2px left 2px; }
h2 .wd .before { background-image:url("/WD.svg");  background-size:18px auto; background-position:top 2px left 2px;}


.sameAs.generic:not(.ulink):not(h4) .before, h4 .generic .before { background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
   background-size:15px 15px; background-position:right 4px top; }

.sameAs.bdr:not(.ulink):not(h4) .before, h4 .bdr .before { background-image:url("/logo.svg"); background-size:17px auto; background-position:top 1px right 5px; }
.sameAs.bnf:not(.ulink):not(h4) .before, h4 .bnf .before { background-image:url("/BNF.svg"); background-size:19px auto;background-position:top 4px left;}
.sameAs.dila:not(.ulink):not(h4) .before, h4 .dila .before { background-image:url("/DILA-favicon.ico"); background-position:top 1px right 5px;}
.sameAs.eap:not(.ulink):not(h4) .before, h4 .eap .before { background-image:url("/BL.gif"); background-size:auto 13px; background-position:left 4px top; }
.sameAs.gretil:not(.ulink):not(h4) .before, h4 .gretil .before { background-image:url("/GRETIL.png"); background-size:auto 13px; background-position:top 1px right 6px;}
.sameAs.ia:not(.ulink):not(h4) .before, h4 .ia .before { background-image:url("/IA.png"); background-size:auto 13px;background-position:top 0px left 2px;}
.sameAs.mbbt:not(.ulink):not(h4) .before, h4 .mbbt .before { background-image:url("/MB-icon.jpg"); background-position:top 1px right 6px;} 
.sameAs.ola:not(.ulink):not(h4) .before, h4 .ola .before { background-image:url("/OL.png"); }
.sameAs.viaf:not(.ulink):not(h4) .before, h4 .viaf .before { background-image:url("/VIAF.png"); }
.sameAs.eftr:not(.ulink):not(h4) .before, h4 .eftr .before { background-image:url("/84000.svg"); background-size:16px auto; background-position:top 4px left 0px;}
.sameAs.rkts:not(.ulink):not(h4) .before, h4 .rkts .before { background-image:url("/RKTS.png"); background-position:top 2px left 2px; }
.sameAs.wd:not(.ulink):not(h4) .before, h4 .wd .before { background-image:url("/WD.svg");  background-size:18px auto; background-position:top 2px left 2px;}

.provider.bdr .before { background-image:url("/logo.svg"); background-size:17px auto; background-position:top 1px right 5px; }
.provider.bnf .before { background-image:url("/BNF.svg"); background-size:19px auto;background-position:top 4px left;}
.provider.dila .before { background-image:url("/DILA-favicon.ico"); background-position:top 1px right 5px;}
.provider.eap .before { background-image:url("/BL.gif"); background-size:auto 13px; background-position:left 4px top; }
.provider.gretil .before { background-image:url("/GRETIL.png"); background-size:auto 13px; background-position:top 1px right 6px;}
.provider.ia .before { background-image:url("/IA.png"); background-size:auto 13px;background-position:top 0px left 2px;}
.provider.mbbt .before { background-image:url("/MB-icon.jpg"); background-position:top 1px right 6px;} 
.provider.ola .before { background-image:url("/OL.png"); }
.provider.viaf .before { background-image:url("/VIAF.png"); }
.provider.eftr .before { background-image:url("/84000.svg");  background-size:16px auto; background-position:top 4px left 0px;}
.provider.wd .before { background-image:url("/WD.svg");  background-size:18px auto; background-position:top 2px left 2px;}
.provider.rkts .before { background-image:url("/RKTS.png"); background-size: 15px auto; }

h4.sameAs .ulink.sameAs { margin-left:-21px; } 

h4.hasIcon ~ .subsub { padding-left:40px; }

.uriTooltip { margin:10px; display:flex; align-items: center; align-content: center; margin-bottom:13px;}
.uriTooltip .logo { display:inline-block;vertical-align:middle;width:64px;height:64px; background-color:white; margin-right:15px; flex-shrink:0; background-size: auto 52px;
   background-repeat:no-repeat;background-position:center;}
.uriTooltip .logo.bdr  { background-image:url("/logo.svg");  background-size: 52px auto;}
.uriTooltip .logo.bnf  { background-image:url("/BNF.svg");  background-size: 52px auto; }
.uriTooltip .logo.dila  { background-image:url("/DILA-big.png"); }
.uriTooltip .logo.eap  { background-image:url("/BL.gif"); }
.uriTooltip .logo.gretil {  background-image:url("/GRETIL.png"); } 
.uriTooltip .logo.ia  { background-image:url("/IA.png"); }
.uriTooltip .logo.mbbt  { background-image:url("/MB-icon.jpg"); } 
.uriTooltip .logo.ola  { background-image:url("/OL.png"); }
.uriTooltip .logo.viaf  { background-image:url("/VIAF.png"); }
.uriTooltip .logo.wd  { background-image:url("/WD.svg"); }
.uriTooltip .logo.eftr  { background-image:url("/84000.svg"); background-size: 52px auto; }
.uriTooltip .logo.rkts  { background-image:url("/RKTS.png");background-size: 52px auto; }

.uriTooltip .logo, .uriTooltip .text { margin-top:30px;}

.uriTooltip .title { position:absolute; top:0;font-size:12px;text-decoration:underline; margin-top:10px; }

.resource button svg:hover { color:rgba(0,0,0,0.65); }

a.download { text-decoration:none; font-weight:bold; cursor:pointer;  }
a.download:hover { text-decoration:underline; }

.firstImage + br + div > .download { font-size:14px; text-transform: capitalize; } 

h3 + h4.multiple,
h3 + .propCollapseHeader,
h3 + .sub 
{ margin-top:2px; }

.resource .data > div .sub .subsub > h4.multiple,
.resource .data > div .sub > h4.multiple,
/*.resource .data > div > h4,*/ /* « object type: manuscript » */
.resource .data > div > h4.multiple,
/*.resource .data > div > .sub > h4:not(.first),*/ /*  eg « title: biblio title: » */
/* .resource .data > div > .sub > .subsub > h4:not(.first),  */
/* :not(:nth-child(2):last-child), */
.propCollapse > div > div > h4,
.propCollapseHeader > h4 { width:100%; padding-left:20px; }
.resource .data > div .sub .subsub > h4.multiple::after,
.resource .data > div .sub > h4.multiple::after,
.resource .data > div > h4::after,
.resource .data > div > .sub > h4:not(.first)::after,
.propCollapse > div > div > h4::after,
.propCollapseHeader > h4::after { display:none !important; }
/*h3 .expand { display:inline-block; cursor:pointer;}
h3 .expand svg { position:absolute; margin-top:-18px; }*/
.propCollapse.in-false h4:first-child { margin-top:0;transition:all 200ms ease-in-out; }
/* .propCollapse.in-true + .expand { margin-bottom:10px; } */
.propCollapse { width:100%; margin-bottom:20px; }
.propCollapse.in-true { padding-bottom:10px;margin-bottom:15px; }
.propCollapse.in-false { height:0; } 
/* .propCollapseHeader { width:100%; } */

.expand { margin-bottom:0px; cursor:pointer; margin-left:20px; border-bottom:1px solid transparent; font-size:13px; position:absolute;bottom:0; margin-bottom:3px; }
.expand:hover { border-bottom:1px solid black;  }
.propCollapse.in-false + .expand { margin-top:0px;transition:all 300ms ease-in-out;} 
.propCollapse.in-true + .expand { margin-top:-5px; margin-bottom:5px;} 

.toggle-expand { position:absolute; margin-top: -2px; cursor:pointer; }

.resource .SidePane .viewAll { color:black; cursor:pointer; margin-bottom:10px;display:inline-block;border-bottom:1px solid transparent;}
.resource .SidePane .viewAll:hover { border-color:black !important; }

.resource .SidePane .data > p:first-child { margin-bottom:10px !important;}

.resource .SidePane .data .anno {text-decoration:none !important; }
.resource .SidePane .data .anno .propref { color:black; text-transform:capitalize;border-color:black; border-bottom:1px solid black;  }
.resource .SidePane .data .anno .propref + svg { display:none; }
.resource .SidePane .data .anno { background-color:#fdfdfd;width:100%;margin-left:0;padding-top:15px;border:1px solid #eee;
   border-bottom:none;border-right-color:#ccc;padding-right:60px;}
.resource .SidePane .data .anno:not(:first-of-type) { margin-top:15px; }
.resource .SidePane .data .anno.new { padding-right:10px;}
.resource .SidePane .data .anno svg { position:absolute;z-index:5;color:rgba(0,0,0,0.54);cursor:pointer;margin-top:-2px;  }
.resource .SidePane .data .anno svg:hover { color:rgba(0,0,0,0.65); }
.resource .SidePane .data .anno hr { height:1px;border:none;background-color:rgba(0,0,0,0.25);width:calc(100% + 50px);float:left;}
.resource .SidePane .data .anno.new hr { width:calc(100%); }

.resource .SidePane .data > .sub { padding-left:0;}/* :10px; background-color:#fdfdfd; margin-bottom:5px; }  */
.resource .SidePane .data > .sub > .sub { padding-left:20px; background-color:#fdfdfd;border-left:1px solid #eee;border-right:1px solid #ccc;}
.resource .SidePane .data > .sub > .sub > .subsub { padding-left:15px; flex-wrap: wrap;}
.resource .SidePane .data > div > h4, .SidePane .data > div > .sub > h4:not(.first) { width:auto;padding-left:0;}
.resource .SidePane .sub .sub .subsub h4.first.prop { width:100%;}
.resource .SidePane .sub .sub .subsub h4.first.prop + h4 { padding-left:15px;margin-right:0;padding-right:10px; } /* height:48px;overflow:hidden;margin-bottom:16px;} */
/* .resource .sub .sub .subsub h4.first.prop + h4:after { content:'(...)'; display:block;position:absolute;to:88px;} */
.resource .SidePane h3, .resource .SidePane h4 { font-size:12px;line-height:16px; }
/* .resource .SidePane h4.first.prop + h4 { height:48px; overflow:hidden;  text-overflow: ellipsis; display:inline-block; } */
.resource .SidePane .data .anno, .resource .SidePane svg.annoticon {  vertical-align: -12px; }
.resource .SidePane .sub .sub h4.first.type, .resource .SidePane .sub h4.first.prop { line-height:16px; }
.resource .SidePane .annoSepa:not(:first-child)
 { width:100%; height:1px;border:1px solid #ccc;padding-top:15px;background-color:#fdfdfd;border-top:none;border-left-color: #eee;}
.resource .SidePane .data > .sub > .sub:last-child {border-bottom:1px solid #ccc;padding-bottom:15px;margin-bottom:30px;}
.resource .SidePane .data .sub .annoticon { display:none ; }
.resource .SidePane .data .anno { color:black; text-decoration:underline;padding-left:10px;}
.resource .SidePane .data .subsub.new { padding-right:10px; }
.resource .SidePane .data .subsub.new > div { margin-top:10px; }
.resource .SidePane .data .subsub.new > div > label { font-size:14px;}
.resource .SidePane .data .subsub.new > div > label + div::before { border-color:rgba(0,0,0,0.15); }
.resource .SidePane .data .subsub.new > div > label + div { font-size:12px;}
.resource .SidePane .data .anno.new + .sub + .sub { padding-top:30px;}
/* .resource .SidePane .data .subsub.new label + div { margin-top:0; } */

.resource.user h2 + .browse { display:none; }
.resource.user h2 img { vertical-align:middle; display:inline-block;  width:80px; height:80px; object-fit:cover; object-position: center; }
.resource.user #avatar { position:relative; display:inline-block; margin-right:15px; width:80px; height:80px; overflow:hidden;display:inline-flex;vertical-align: middle;
   justify-content: center;align-items: center; box-shadow:0 0 5px rgba(0,0,0,0.45); margin-left:2px;}
.resource.user #avatar .hover { position: absolute;background:rgba(0,0,0,0.45); width:100%;height:35%;bottom:0;display:flex;justify-content: center;align-items: center;
   opacity:0; color:rgba(255,255,255,0.35);transition:all 75ms ease-in-out; }
.resource.user #avatar:hover .hover { cursor:pointer; opacity:1; }

.resource.user .data > div h3 { margin-left:-50px; padding-left:50px; }
.resource.user .data > div h4.multiple { margin-left:-50px; padding-left:70px; }

.userPopoverContent { padding:10px; min-width:350px;} 
.userPopoverContent > div > label:first-child { text-transform: capitalize; }
.userPopoverContent > div > p:last-child { font-style: italic; }
.userPopoverContent .buttons { position:absolute;right:6px; opacity:0; color:rgba(0,0,0,0.55); transition:all 75ms ease-in-out;}
.userPopoverContent /*.modified*/ .buttons { opacity:1;}
.userPopoverContent .buttons.top { top:4px; }
.userPopoverContent .buttons.bottom { bottom:2px }
.userPopoverContent .buttons svg { font-size:18px; margin-left:3px; cursor:pointer;}
.userPopoverContent .buttons a:first-child svg { color:green; }
.userPopoverContent .buttons a:last-child  svg { color:red; }

.resource.user #patch { background:#eee; border:1px solid #999; padding:20px; position:relative; margin-top:30px; overflow-x:auto; overflow-y:visible;}
/* .resource.user #patch::before { content:'RDF Patch:'; position:absolute;left:-1px; top:-20px;display:block; } */



/* .resource h3 { position:relative; } */
.resource .preprop .menu { position:absolute; text-align:right; right:calc(100% /*- 50px*/); /*top:0px;*/ margin-top:-18px; height:15px; padding:3px; display:none;  width:80px;}
.resource h4 + .preprop .menu { right:calc(100% /*- 50px*/ - 20px); margin-top:-24px; }
.resource .preprop .menu a svg { font-size:18px; vertical-align:middle; cursor:pointer; margin-right:2px; color:rgba(0,0,0,0.55); }
.resource .preprop .menu a { border-bottom:none !important; }
.preprop:hover .menu,
.resource .data > div > h3:hover + .preprop .menu,
.resource .data > div > h4:hover + .preprop .menu { display:block; }

/* .resource .preprop .popover { position:relative; } */

[role=menuitem].current { text-decoration:underline !important; }

.goBack { text-decoration: none; }
/* .goBack:not(:first-child):not(.noML) { margin-left:35px !important; } */
.goBack button { min-width:0 !important;margin-left:0 !important; }

#iiif { padding:0;min-width:48px;min-height: 48px;border-radius:50%;}
#iiif img { margin-left:0;width:28px;}

.checkB,.checkedB { border-radius:50%; border:2px solid #666;width:20px;height:20px;display:inline-block; }
.checkedB {}

.placeMap {  width:400px;height:400px;overflow:hidden; }
.placeMap.large { width:100%;height:90vh; }
.leaflet-tooltip { padding:15px;}
.leaflet-tooltip h2 {  font-size:16px; padding-bottom:0;margin:0 !important;margin-bottom:5px !important;}
.leaflet-tooltip h2 svg { display:none;}
.placeMap .leaflet-bottom .leaflet-control { margin:0 !important;background: rgba(255, 255, 255, 0.7);}
.placeMap .leaflet-bottom > .leaflet-control { padding:3px; }
.placeMap .leaflet-bottom > .leaflet-control > .leaflet-control { background:none; }
.placeMap .leaflet-bottom.leaflet-right { margin-bottom:0px !important; }
.placeMap:not(.large) .leaflet-control { font-size:11px !important; }

.placeMap .gmnoprint { display:none;}
.gm-style > iframe + div {  margin-bottom:20px; }
.placeMap.large .gm-style > iframe + div {  margin-bottom:25px; }

body {overflow-x:hidden; }

/* .SearchPane .hidden { opacity:0; pointer-events:none; } */

.App { height:100vh;}

.SidePane > div { padding-bottom:50px; }
.SidePane > div > ul { align-items: center; }
.SidePane > .close { position:absolute; top:-6px;right:-6px;}
.SidePane > .hide { position:absolute; top:-6px;left:-6px;}
.SidePane > #annoCollec { position:absolute; top:-6px;left:40px;}
.SidePane > #annoCollec svg.score0 { border-radius:50%; background-color:rgba(255, 205, 3, 0.4);border:1px dashed rgba(167, 134, 1, 0.4);}
.SidePane > #annoCollec svg.score1 { border-radius:50%; background-color:rgba(17, 173, 17, 0.3);border:1px solid rgba(36, 106, 36, 0.4);}

.SidePane { position:absolute;transition:left 400ms ease-in-out,right 400ms ease-in-out; background:white;height:calc(100vh - 40px); position:fixed;padding:20px;
   background:rgba(246,246,246,0.935); z-index:100; top:0; }
.SidePane.left {  box-shadow:2px 0 2px 0px rgba(0,0,0,0.35); } 
.visible .SidePane.left { overflow-y:auto;}
.SidePane.right { right:-500px; box-shadow:-2px 0 2px 0px rgba(0,0,0,0.35);}
.SidePane.right.visible { right:0; /*overflow-y:auto; */ }
/* .SidePane > div { position:fixed } */
.SidePane .loader { position:absolute !important;margin-right:32px;margin-top:24px;right:0;}
.datatypesLoader, .facetLoader { left:0px !important;top:0 !important;}

.App > :first-child { position:absolute; z-index:10; transition:left 400ms ease-in-out;}
.App > :not(.visible):first-child { left:-500px; }
.App > :not(.visible):first-child #resizableLeftPane { position:absolute;  } 
.App > .visible:first-child { left:0; }
.App > .visible:first-child #resizableLeftPane { position:fixed; } 

#resizableLeftPane .SidePane { position:relative; overflow-x:hidden;} 

.react-resizable-handle {
   position: absolute;
   width: 15px;
   height: 100%;
   bottom: 0;
   right: -10px;
   box-sizing: border-box;
   cursor: e-resize;
   z-index:101;
 }

.SearchPane { width:1000px; margin:auto;margin-top:10vh;max-width:90%; z-index:0;}
.SearchPane > div {display:flex;justify-content: center;}
.SearchPane .formControl { margin-top:0px; margin-left:25px; width:150px;}
.SearchPane .formControl:before {  left: 0; right: 0; bottom: 0; content: "\00a0";  position: absolute;  }
.SearchPane a {text-decoration:none}

/* .SearchPane > a:first-child img { transition: all 200ms ease-in-out; }  */

.SearchPane.resultPage { margin-top:2vh; }
.SearchPane.resultPage > a:first-child img { width:100px !important; } 
.SearchPane.resultPage #results, 
.SearchPane.resultPage #results > li,
.SearchPane.resultPage #results h4 { margin-top:0 !important; } 
.SearchPane.resultPage #results > h4 { margin-top:12px !important; } 
/* .SearchPane.resultPage #results > li + li { margin-top:-10px !important;}  */

.SearchPane h5 { margin-left:16px; font-size : 16px; margin-bottom:0px;margin-top:40px; }
.SearchPane .menu-categ h5 { margin-left:0; font-size : 16px; margin-bottom:0px;margin-top:0px; }
.SearchPane .menu-categ-collapse h5 { margin-left:16px; font-size : 13px; margin-bottom:0px;margin-top:0px; color:rgba(229, 74, 53,1); }
/* .menu-categ-collapse + .menu-categ-collapse { display:none; } */
.SearchPane .menu-categ-collapse h5:hover { text-decoration:underline; }
.menu-categ { padding:0;margin-bottom:0;margin-top:10px !important; } 
.menu-categ-collapse + .menu-categ-collapse.datatype { padding-left:0; } 
.menu-categ-collapse + li:not(.menu-categ) + a.result { margin-top:10px; }

.facet-count { font-style:italic; opacity:0.65; font-size:11px; font-weight:400; }
.widget label { text-transform:capitalize;  }
.searchWidget > label > span,
.dataWidget label > span { font-size:13px; }
.searchWidget > label > span svg { width:16px; height:16px; } 
.dataWidget > label > span svg { width:17px; height:17px; }
.searchWidget > label > span:first-child,
.dataWidget > label > span:first-child { width:22px;height:22px; color:rgba(0,0,0,0.7); margin-left:9px;margin-right:2px; }
.SidePane .help { text-align:left;font-style:italic;margin-bottom:10px; font-size:12px; width:300px;line-height:16px; }
/* .subcollapse label span:last-child { max-width:120px;} */
.dataWidget ol { margin:0; font-size:13px;padding-left:16px; list-style: none; counter-reset: li}
.dataWidget ol li {counter-increment: li; z-index:100;}
body > .ol-li-lang:last-child li::before,
.dataWidget ol li::before {content: counter(li);  display: inline-block; width: 1.1em; margin-left: -1.1em ; font-weight:800; }
/* .collapse { width:390px;}*/
.ol-li-lang svg { color:rgba(0,0,0,0.65); font-size:17px; opacity:0;vertical-align:middle;margin-left:5px;cursor:pointer;display:inline-block;}
.ol-li-lang svg.drag { position:absolute; margin-left:-36px;font-size:17px;margin-top:-1px;  padding-right: 5px;}
.subcollapse.custom-lang:not(.sorting) .ol-li-lang:hover svg { opacity:1; }
.subcollapse.custom-lang:not(.sorting) .ol-li-lang:hover svg.drag { opacity:1; cursor: row-resize; }
.subcollapse.custom-lang.sorting, .subcollapse.custom-lang.sorting * { cursor:row-resize; }
.ol-li-lang { z-index:100 !important;height:22px;color:rgba(0,0,0,0.87);position:relative;}
.ol-li-lang a { position:relative; }
ol .ol-li-lang:last-child li:before { display:none; }
.ol-li-lang:last-child .add { position: absolute; margin-left: -19px; margin-top: -1px; opacity:1; }
/* custom language reordering */
body > .ol-li-lang:last-child { z-index:101 !important; position:relative; }
body > .ol-li-lang:last-child li { font-size:13px; list-style-type: none; }
body > .ol-li-lang:last-child svg { opacity:1;}
body > .ol-li-lang:last-child li::before { content:'-';}

.collapse.open { margin-bottom:20px; }
/* .collapse.open div { overflow:visible hidden;} */
.searchWidget .subcollapse:not(.open) { width:250px; }
.searchWidget .subcollapse.open { width:auto; max-width:350px; }
.searchWidget > label + .subcollapse { width:auto !important; }
.searchWidget > label { margin-right:5px;}


.widget > label { display:inline; padding-left:3px;padding-bottom:2px;  }
.widget > label > * { display:inline; vertical-align: middle; }
.widget > label > .checkbox { display:inline-block; width:18px !important;height:18px !important; }
.widget > label > .checkbox > span:first-child { display:inline;  }
.widget > label > span:last-child:nth-child(2) { vertical-align:1px; line-height:21px;}
.widget { padding-left:18px;} 
.widget > label > .checkbox { left:-18px;} 
.widget > label > span:last-child:nth-child(2) { margin-left:-18px;}
.widget > .subcollapse { padding-left:0 !important;}


span.subcollapse { opacity:0; transition:opacity 50ms ease-in-out ; }
span.subcollapse svg { vertical-align:-6px; cursor:pointer; font-size:18px; }
.collapse.open > div > div > .widget > span.subcollapse, 
.collapse.open .subcollapse.open > div > div > .widget > span.subcollapse
{ position:absolute;  opacity:1; transition:opacity 150ms ease-in-out 50ms; } 

.checkbox.disabled { opacity:0.5; }

h3 span.highlight,
div.match span.highlight { border:1px solid rgba(229, 74, 53,1); padding:0px 4px ; background-color:rgba(229, 74, 53,0.15); border-radius:15px; }
#matches div.match div.multi > span { display:block; }
/* div.match div.multi > span:not(:last-child)::after {  content:", "; } */

/* div.match span.highlight { background-color: rgba(229, 74, 53,1.0); color:white ; padding:0px 2px ;}  */

.urilink .highlight { color:rgba(179, 14, 0,1); } 

#UView { width:800px;height:480px;border:none; overflow:visible; }

#fond:not(.hidden) { position:fixed;width:100%;height:100%;background:rgba(0,0,0,0.5); left:0;top:0;z-index:150; }
#fond.hidden * { display:none !important; }

svg.hide { opacity:0;pointer-events:none; }

.uv:not(.hidden),.uv:not(.hide),uv.toggled:not(.hide) iframe { z-index:10 !important;position:fixed !important;width:100% !important;left:0 !important;height:calc(100vh) !important;top:0 !important;
   z-index:11;
}
.uv.hidden,.uv.hide { display:none !important;}

.firstImage { box-shadow: 0 0 10px black;display:inline-block;padding:5px;background:rgba(0,0,0,1.0);position:relative; min-width:360px;min-height:100px;text-align:center; 
   margin-top:5px; }
.firstImage img {max-width:100%; position:relative;z-index:1; max-height:444px;}
.firstImage.loaded { font-size:0;  }
.firstImage.loaded #title { position:absolute;font-size:17px;left:20px;bottom:20px; z-index:2; }
.firstImage.loaded #title > div { background-color:rgba(229, 74, 53,1);color:white; display:inline-block;position:relative;
   padding:5px 50px; border-radius:0px; border:1px solid rgba(229, 74, 53,1); cursor:pointer;margin-right:20px;
   width:200px;text-align:center; margin-top:10px;}
.firstImage.loaded #title > div * { vertical-align:middle; }
.firstImage.loaded #title > div:hover { color:rgba(229, 74, 53,1);background:rgba(255, 230, 220,1);border-color:rgba(229, 74, 53,1); }

.firstImage + .data { margin-top:15px; }

h2 + .browse { margin-bottom:15px;}

h2 + .browse a { font-size:14px; text-transform:capitalize;}

.uvLoader { z-index:0 !important;}

#diva-wrapper { top: 0;left: 0; position: fixed; width: 100%; height: calc(100% - 10px);
   background: white; padding-top: 10px; z-index:11;}
/*#diva-wrapper > div { top: 0;left: 0; position: fixed; width: 100%; height: calc(100% - 100px) !important; z-index: 10;
   background: white; padding-top: 10px; }*/
#diva-wrapper.hidden { display:none; }
#diva-wrapper .diva-tools { text-align:center; }
#diva-wrapper .diva-tools select#volume { display:inline-block; font-size:16px;height:28px; margin-top:10px;
   padding:0 10px;margin-left:15px;}
.diva-tools-right { width:400px; }
.diva-tools-left { padding-right:100px; width:300px;}

.pdfLoader { vertical-align:-3px; }
.pdfLoader img { opacity:0.55; }
/* .pdfLoader > button { width:auto !important; } */
.pdfLoader .loader, .loadedContent { display:inline-block;pointer-events:none; }

.poPdf a { cursor:pointer;}

.pdfMenu a { position:relative;}
.pdfMenu b { display:inline-block; white-space: nowrap;}
.pdfLoading,.zipLoading { color:white; }
.pdfSpinner,.zipSpinner { left: 55% !important;  top: 45% !important; }

.profile-container { padding:40px 100px; }
.profile-area h1 { margin-top:0; }
.profile-area img { height: 64px; vertical-align: middle;  border: 1px solid #ccc; display:inline-block; margin-right:16px;}
.profile-area h5 { font-size:14px; color:rgba(229, 74, 53,1); cursor:pointer; margin-top:50px;}
.profile-area h5:hover { text-decoration: underline; }

.profile-area .FC { min-width:222px; margin-right:20px;}


#TestToken { padding:5px;  }

.FCTT { width:400px;  padding-top:5px;  }
.FCTT + h2 { margin:0 50px;padding:0;text-align:right;}
.FCTT + h2 pre { margin-bottom:0; }
.FCTT ~ pre { margin:50px ; max-width:calc(100% - 100px); overflow:auto ; padding:20px; box-shadow:0 0 5px rgba(0,0,0,0.4); margin-top:5px;}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width:1600px)
{
   body { min-width:1400px; overflow:auto;}
   .SearchPane { transition:all 400ms ease-in-out;}
   .SidePane.visible + .SearchPane { padding-left:300px; }
   .SidePane.visible + .SearchPane .mainloader { padding-left:200px; }
}


@media (max-width:1400px)
{
   body { min-width:calc(100% - 500px);}
   .SearchPane { width: calc(100% - 500px); }
   .SidePane:not(.visible) + .SearchPane { width:100%; }
  
}

