
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,600,700,800'); */


/* CSS debug mode */
/* * {background-color:rgba(255,0,128,0.05);} */

a.result { padding:0;margin-bottom:0;width:100%; }
a.result button { text-transform:none; padding-bottom:0;}
/* a.result button::before { content:'Abstract Works';display:block;height:50px;position:absolute;left:0; }  */
a.result + div { margin-top:-20px!important;padding:20px 0 0px 35px ; margin-left:41px; font-size:0.9rem; margin-bottom:20px; border-left: 1px solid rgba(0,0,0,0.25) ; }
a.result + div:empty { margin-bottom:8px; margin-top:0 !important;padding-top:0 !important;}

   /* box-shadow:-5px 0 5px -4px rgba(0,0,0,0.2);  } */
a.result + div span { display:inline ; line-height:1.2rem; }
a.result + div span.label { text-transform:capitalize; font-weight:700; float:left;clear:both; flex-shrink:0; }
a.result + div span:not(.label) {  }
.match { display:flex; margin-bottom:5px }

h4 { margin-top:10px;margin-bottom:0px;font-size:24px; }

.resource { width:100% ; padding:50px 100px; text-align:left; box-sizing: border-box;}
.resource .data { text-align:left }
.resource .data > div { display:flex;align-items:baseline;flex-wrap:wrap;box-sizing: border-box;width:100%;}
.resource .data > div.parent { flex-wrap:wrap; }
.resource .data > div.parent > h3 { flex-shrink:0 }
.resource h3,.resource h4 { display:inline-block; margin-bottom:0px; font-size:16px; font-weight:normal; margin-right:5px; line-height:18px;}
.resource h3 span { /*text-decoration: underline;*/ font-weight:600;  text-transform:capitalize; }
.resource .sub { width:100%; padding-left:30px;display:flex;flex-wrap:wrap; box-sizing: border-box; position:relative;}
.resource .sub h4.first { font-size:0.9em;font-style:italic; text-transform:capitalize; flex-shrink:0; }
.resource .sub h4.first.prop { font-style:normal;font-size:0.8em; }
.resource .subsub { width:100%; padding-left:30px; display: flex;align-items: baseline;flex-wrap:nowrap;position:relative; box-sizing: border-box;}
/* .resource .subsub h4 { flex-shrink:0 ; } */
/* .resource .subsub:first-child:before, */
.resource div .sub.here:before { content:"•";position:absolute; width:10px;margin-left:-10px;top:11px; }
.resource .subsub:first-child { margin-top:10px; }
.resource .subsubsub.full,
.resource .subsub.full { flex-wrap:wrap; }
.resource .subsubsub.full > h4.first,
.resource .subsub.full > h4.first { width:100%; }
.resource h3 + .sub .subsub:first-child { margin-top:0px; }
.resource .subsub h4:not(.first):not(:last-child):after,
.resource h4:not(:last-child):not(.first):not(.last):after { content:" | "; pointer-events:none; }
.resource .subsubsub { width:100%; padding-left:30px; display: flex;align-items: baseline;flex-wrap:nowrap;position:relative; box-sizing: border-box;}
.resource .subsub.full .subsub h4.first.prop,
.resource .subsubsub h4.first.prop { font-size:0.7em;font-style:italic; }
.resource .subsubsub .subsubsub h4.first.prop { font-style:normal; }

.person #person, .place #place { display:none;}

.match .multi a,
.resource .data a { text-decoration: none; color:rgba(229, 74, 53,1);}
.match .multi a:hover,
.resource .data a:hover { border-bottom:1px solid rgba(229, 74, 53,1); }

.goBack { text-decoration: none;  }
.goBack button { min-width:0 !important; }

.checkB,.checkedB { border-radius:50%; border:2px solid #666;width:20px;height:20px;display:inline-block; }
.checkedB {}

/* .SidePane > div { position:fixed } */
.SidePane .loader { position:absolute !important;margin-right:32px;margin-top:24px;right:0;}
.datatypesLoader, .facetLoader { left:0px !important;top:0 !important;}

.SearchPane > div {display:flex;justify-content: center}
.SearchPane .formControl { margin-top:50px; margin-left:25px; width:150px;}
.SearchPane a {text-decoration:none}

.SearchPane h5 { margin-left:16px; font-size : 16px; margin-bottom:0px;margin-top:40px; }

.collapse.open { margin-bottom:30px; }

.checkbox.disabled { opacity:0.5; }

h3 span.highlight,
div.match span.highlight { border:1px solid rgba(229, 74, 53,1); padding:0px 4px ; background-color:rgba(229, 74, 53,0.15); border-radius:15px; }
div.match div.multi > span:not(:last-child)::after { content:", "; }
/* div.match span.highlight { background-color: rgba(229, 74, 53,1.0); color:white ; padding:0px 2px ;}  */

#UView { width:800px;height:480px;border:none; overflow:visible; }

.uvDefault { box-shadow: 0 0 10px black;display:inline-block;padding:5px;background:rgba(0,0,0,1.0);position:relative; min-width:100px;min-height:100px; }
.uvDefault img {max-width:100%; position:relative;z-index:1;}
.uvDefault.loaded { font-size:0; cursor:pointer; }
.uvDefault.loaded #title { position:absolute;font-size:17px;left:20px;bottom:20px; z-index:2;background-color:rgba(229, 74, 53,1);color:white;
   padding:5px 50px; border-radius:0px; border:1px solid rgba(229, 74, 53,1); }
.uvDefault.loaded #title * { vertical-align:middle; }
.uvDefault.loaded:hover #title { color:rgba(229, 74, 53,1);background:rgba(255, 230, 220,1);border-color:rgba(229, 74, 53,1); }

.uvLoader { z-index:0 !important;}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
